.contenedor-header {
    display: flex;
    height: 60px;
    background-image: linear-gradient(to bottom, #333232, #4d4d4d, #6a6969, #878787, #a6a6a6);
    justify-content: stretch;
    align-items: stretch;
    top: 0;

    header {
        max-width: 2500px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        flex-direction: row;
    }

    header nav ul li a {
        text-align: none;
        font-size: 20px;
        color: $color-blanco;
        margin: 0 15px;
        padding: 1px;
        transition: .5s;
        text-decoration: none;

        &:hover {
            color: $color-azul;
        }
    }
}
  